### Data Cleaning steps (Structured / Tabular Data)

---



##### 1. Put NA where there is missing values
##### 2. Remove unneccessary columns (as per the description)
##### 3. Format or Binarize the target or unknown variable
##### 4. Check datatypes, handle columns with Object / string type (either convert to number / remove them)
##### 5. Remove columns which have all missing / NA values
##### 6. Remove rows with missing / NA values greater than 50%
##### 7. Fill missing / NA values using central tendencies
##### 8. Remove those columns which have same value in all rows
##### 9. Remove columns which have different values in all rows
##### 10. Remove repeated rows (In case of large datasets check for repeated columns)
##### 11. Normalize the data

In [ ]:
"""This is a Data Cleaning Execise"""
import pandas as pd
# Create Dataframe of a table from csv file
df = pd.read_csv("76_attributes_heartdiseases.csv",na_values=["-9",-9,-18])
## Do not use 81 as NA because V33 it is valid value
print(df.columns) # Print column names

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31',
       'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41',
       'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51',
       'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61',
       'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71',
       'V72', 'V73', 'V74', 'V75', 'V76'],
      dtype='object')

In [ ]:
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  ...  V69  V70  V71  V72  V73  V74  V75   V76
0   1   0  63   1 NaN NaN NaN NaN  ...    1    1    1    1  1.0  NaN  NaN  name
1   2   0  67   1 NaN NaN NaN NaN  ...    1    1    1    1  1.0  NaN  NaN  name
2   3   0  67   1 NaN NaN NaN NaN  ...    1    1    1    7  3.0  NaN  NaN  name
3   4   0  37   1 NaN NaN NaN NaN  ...    1    1    1    1  1.0  NaN  NaN  name
4   6   0  41   0 NaN NaN NaN NaN  ...    1    1    1    1  1.0  NaN  NaN  name

[5 rows x 76 columns]

In [ ]:
# From data description,
# V58 is decision variable
#  columns after V58 are part of decision or un-used columns
df = df.iloc[:,:58] # so keep only first 58 columnd and remove rest of them
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31',
       'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41',
       'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51',
       'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58'],
      dtype='object')

In [ ]:
df.drop(['V2','V36','V45','V46'],axis=1,inplace=True)

In [ ]:
df['V58'].unique()

array([0, 2, 1, 3, 4])

In [ ]:
# Tune the decision variable for Binary classification 
#(Heart Disease (1) or No Heart Disease (0))
df.loc[df['V58'] > 0, 'V58'] = 1

In [ ]:
df['V58'].unique()

array([0, 1])

In [ ]:
# Print sample records for viewing
df.head() #NaN - Not a Number are missing values in original data

   V1  V3  V4  V8  V9  V10  V11    V12  ...  V63  V64  V65  V66  V67  V68  V69  V70
0   1  63   1 NaN   1  145    1  233.0  ...    1  NaN  1.0  NaN    1    1    1    1
1   2  67   1 NaN   4  160    1  286.0  ...    2  NaN  1.0  NaN    1    1    1    1
2   3  67   1 NaN   4  120    1  229.0  ...    1  NaN  1.0  NaN    2    2    1    1
3   4  37   1 NaN   3  130    0  250.0  ...    1  NaN  1.0  NaN    1    1    1    1
4   6  41   0 NaN   2  130    1  204.0  ...    1  NaN  1.0  NaN    1    1    1    1

[5 rows x 58 columns]

In [ ]:
df.dtypes # Data types of each column

V1       int64
V3       int64
V4       int64
V5     float64
V6     float64
V7     float64
V8     float64
V9       int64
V10      int64
V11      int64
V12    float64
V13    float64
V14    float64
V15    float64
V16    float64
V17    float64
V18      int64
V19      int64
V20      int64
V21      int64
V22      int64
V23    float64
V24    float64
V25    float64
V26    float64
V27    float64
V28    float64
V29    float64
V30    float64
V31    float64
V32      int64
V33      int64
V34      int64
V35      int64
V37      int64
V38      int64
V39    float64
V40    float64
V41    float64
V42    float64
V43      int64
V44    float64
V47    float64
V48    float64
V49    float64
V50    float64
V51    float64
V52    float64
V53    float64
V54    float64
V55      int64
V56      int64
V57      int64
V58      int64
dtype: object

In [ ]:
# Drop columns which are having strings or objects
df = df.select_dtypes(exclude=['object'])

In [ ]:
# Print columns which have all NaN (np.nan) values
print("Columns with all null values are")
print(df.columns[df.isnull().all()])
print(df['V5'].describe())
# Drop columns which have all NaN values
l=df.columns[df.isnull().all()]
df.drop(l, inplace=True, axis=1)

Columns with all null values are
Index(['V5', 'V6', 'V7', 'V47', 'V48', 'V49', 'V52', 'V53'], dtype='object')
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: V5, dtype: float64

In [ ]:
df.shape

(282, 46)

In [ ]:
df.columns

Index(['V1', 'V3', 'V4', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15',
       'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25',
       'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35',
       'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V50', 'V51',
       'V54', 'V55', 'V56', 'V57', 'V58'],
      dtype='object')

In [ ]:
# Find rows with missing values greater than 50%
print(df.isnull())
print(df.isnull().sum(axis=1))
df[    df.isnull().sum(axis=1)    >   (df.shape[1]/2)   ]
df = df[df.isnull().sum(axis=1) <=(df.shape[1]/2) ]

        V1     V2     V3     V4    V8  ...   V54    V55    V56    V57    V58
0    False  False  False  False  True  ...  True  False  False  False  False
1    False  False  False  False  True  ...  True  False  False  False  False
2    False  False  False  False  True  ...  True  False  False  False  False
3    False  False  False  False  True  ...  True  False  False  False  False
4    False  False  False  False  True  ...  True  False  False  False  False
..     ...    ...    ...    ...   ...  ...   ...    ...    ...    ...    ...
277  False  False  False  False  True  ...  True  False  False  False  False
278  False  False  False  False  True  ...  True  False  False  False  False
279  False  False  False  False  True  ...  True  False  False  False  False
280  False  False  False  False  True  ...  True  False  False  False  False
281  False  False  False  False  True  ...  True  False  False  False  False

[282 rows x 48 columns]
0      6
1      6
2      6
3      6
4      7
      ..
277    6
278    7
279    6
280    6
281    7
Length: 282, dtype: int64

In [ ]:
df.shape

(282, 48)

In [ ]:
# Print colmuns that have minimum one NaN value
df.columns[df.isna().any()]
# df.isna().any()

Index(['V1', 'V8', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V21', 'V22',
       'V23', 'V24', 'V25', 'V26', 'V27', 'V30', 'V33', 'V41', 'V42', 'V44',
       'V50', 'V51', 'V54', 'V56', 'V57'],
      dtype='object')

In [ ]:
# Fill missing values with mode value for all columns which are float or int
for col in df.columns[df.isnull().any()]:
    df[col].fillna(df[col].mode()[0],inplace=True)
# Print remaining columns which still have NaN values
df.columns[df.isnull().any()]

Index([], dtype='object')

In [ ]:
# Check those columns where all values are same
(df != df.iloc[0]).any()
# (df == df.iloc[0]).all()

V1     True
V3     True
V4     True
V8     True
V9     True
V10    True
V11    True
V12    True
V13    True
V14    True
V15    True
V16    True
V18    True
V19    True
V20    True
V21    True
V22    True
V23    True
V24    True
V25    True
V26    True
V27    True
V28    True
V29    True
V30    True
V31    True
V32    True
V33    True
V34    True
V35    True
V36    True
V37    True
V38    True
V39    True
V40    True
V41    True
V42    True
V43    True
V44    True
V50    True
V51    True
V54    True
V55    True
V56    True
V57    True
V58    True
dtype: bool

In [ ]:
# Remove columns which have same value in all rows
df=df.loc[:, (df != df.iloc[0]).any()]
df.shape

(282, 46)

In [ ]:
#Remove the columns where all values are different
#Example columns V1
# for col in df.columns:
#   if len(df[col].unique()) == df.shape[0]:
#     df.drop(col,inplace=True,axis=1)
######
#Problem :: A continous variable may get removed!!!!!
######

In [ ]:
df.describe(include= 'all') 
# Get statistical description of each column in data frame

               V1     V2          V3  ...         V56         V57         V58
count  282.000000  282.0  282.000000  ...  282.000000  282.000000  282.000000
mean   151.517730    0.0   54.411348  ...   16.241135   81.152482    0.453901
std     87.131234    0.0    9.053083  ...   11.754246    9.768211    0.498755
min      1.000000    0.0   29.000000  ...    1.000000    0.000000    0.000000
25%     75.250000    0.0   48.000000  ...    8.000000   82.000000    0.000000
50%    151.500000    0.0   55.000000  ...   15.000000   82.000000    0.000000
75%    227.750000    0.0   61.000000  ...   23.000000   83.000000    1.000000
max    298.000000    0.0   77.000000  ...   82.000000   84.000000    1.000000

[8 rows x 48 columns]

In [ ]:
# Normalize the data
from sklearn import preprocessing

x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled,columns=df.columns)

In [ ]:
df.describe(include= 'all')

                 V1     V2  ...           V57           V58
count  2.820000e+02  282.0  ...  2.820000e+02  2.820000e+02
mean  -1.574784e-17    0.0  ... -2.877919e-16  2.125959e-17
std    1.001778e+00    0.0  ...  1.001778e+00  1.001778e+00
min   -1.730554e+00    0.0  ... -8.322584e+00 -9.116846e-01
25%   -8.768763e-01    0.0  ...  8.691708e-02 -9.116846e-01
50%   -2.038536e-04    0.0  ...  8.691708e-02 -9.116846e-01
75%    8.764686e-01    0.0  ...  1.894720e-01  1.096871e+00
max    1.684157e+00    0.0  ...  2.920269e-01  1.096871e+00

[8 rows x 48 columns]

In [ ]:
from sklearn import preprocessing
x = df.values #returns a numpy array
min_max_scaler = preprocessing.StandardScaler()
x_scaled_std = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled_std,columns=df.columns)

In [ ]:
# Save the new cleaned data
df.to_csv("cleaned_76hd.csv",index=False)

In [ ]:
# Min max normalization Formula  (element - min) / (max - min)
l=[12,24,10,2]
n_l=[]
for e in l:
    n_l.append((e-min(l))/(max(l)-min(l)))
print(n_l)

[0.45454545454545453, 1.0, 0.36363636363636365, 0.0]