# Exercise:: 
# Problem Statement ::
Given market data of Lasalgaon

Use linear regression to predict quantity

# Outcomes 

1. How to use linear regression with time series data

2. How to create lag variables 
    so that we can model dependencies between current value and previous 
    value of the same variable

In [4]:
import pandas as pd

In [69]:
df = pd.read_csv("ls_ma_data.csv",parse_dates=['date'],index_col=['date'])

In [70]:
df.shape

(242, 9)

In [71]:
df.head()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city
date,,,,,,,,,
1996-01-01,LASALGAON(MS),January,1996,225063,160,257,226,MS,LASALGAON
1997-01-01,LASALGAON(MS),January,1997,241225,126,323,290,MS,LASALGAON
1998-01-01,LASALGAON(MS),January,1998,125731,225,1447,1037,MS,LASALGAON
1999-01-01,LASALGAON(MS),January,1999,236001,310,545,498,MS,LASALGAON
2000-01-01,LASALGAON(MS),January,2000,390783,145,341,225,MS,LASALGAON

In [72]:
df.tail()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city
date,,,,,,,,,
2011-12-01,LASALGAON(MS),December,2011,213720,223,803,575,MS,LASALGAON
2012-12-01,LASALGAON(MS),December,2012,498275,586,1390,1207,MS,LASALGAON
2013-12-01,LASALGAON(MS),December,2013,343533,955,1690,1335,MS,LASALGAON
2014-12-01,LASALGAON(MS),December,2014,246504,884,1705,1514,MS,LASALGAON
2015-12-01,LASALGAON(MS),December,2015,438498,923,1690,1280,MS,LASALGAON

In [73]:
df.sort_index(inplace=True)

In [74]:
df.drop(['market','month','year','state','city','priceMin'],axis=1,inplace=True)

In [75]:
df.shape

(242, 3)

In [76]:
df.head()

            quantity  priceMax  priceMod
date
1996-01-01    225063       257       226
1996-02-01    196164       229       186
1996-03-01    178992       274       243
1996-04-01    192592       279       254
1996-05-01    237574       312       269

# Define the target and input
Input = Previous (lag) priceMod , priceMax and quantity
Output = Current priceMod , priceMax and quantity

Assume lag =1

In [77]:
df['priceMax_lag'] = df['priceMax'].shift()
df['priceMod_lag'] = df['priceMod'].shift()
df['quant_lag'] = df['quantity'].shift()
df[['quantity','quant_lag']]

            quantity  quant_lag
date
1996-01-01    225063        NaN
1996-02-01    196164   225063.0
1996-03-01    178992   196164.0
1996-04-01    192592   178992.0
1996-05-01    237574   192592.0
...              ...        ...
2015-10-01     30532    34925.0
2015-11-01    178713    30532.0
2015-12-01    438498   178713.0
2016-01-01    563321   438498.0
2016-02-01    292870   563321.0

[242 rows x 2 columns]

In [78]:
df.head()

,quantity,priceMax,priceMod,priceMax_lag,priceMod_lag,quant_lag
date,,,,,,
1996-01-01,225063,257,226,NaN,NaN,NaN
1996-02-01,196164,229,186,257.0,226.0,225063.0
1996-03-01,178992,274,243,229.0,186.0,196164.0
1996-04-01,192592,279,254,274.0,243.0,178992.0
1996-05-01,237574,312,269,279.0,254.0,192592.0

In [79]:
df.dropna(inplace=True)

In [80]:
df.head()

,quantity,priceMax,priceMod,priceMax_lag,priceMod_lag,quant_lag
date,,,,,,
1996-02-01,196164,229,186,257.0,226.0,225063.0
1996-03-01,178992,274,243,229.0,186.0,196164.0
1996-04-01,192592,279,254,274.0,243.0,178992.0
1996-05-01,237574,312,269,279.0,254.0,192592.0
1996-06-01,175308,413,367,312.0,269.0,237574.0

# Model --1
    X= quantity_lag,	priceMax_lag,	priceMod_lag
    y= quantity
    R score = 1

In [61]:
# Training = 200 samples and Test remaining samples
train_X=df.iloc[:200,3:]
train_y=df.iloc[:200,0]
test_X=df.iloc[200:,3:]
test_y=df.iloc[200:,0]
print(train_X.shape,train_y.shape,test_X.shape,test_y.shape)

(200, 3) (200,) (41, 3) (41,)

In [62]:
from sklearn.linear_model import LinearRegression

In [63]:
model1 = LinearRegression().fit(train_X, train_y)

In [64]:
print(model1.score(test_X, test_y))

0.425969467107369

In [67]:
perd_y = model1.predict(test_X)

In [68]:
(mean_squared_error(perd_y, test_y)**(1/2))

107747.55488912817

# Assume lag =3

In [81]:
df['quant_lag1'] = df['quantity'].shift()
df['quant_lag2'] = df['quantity'].shift(2)
df['quant_lag3'] = df['quantity'].shift(3)
df.head()

,quantity,priceMax,priceMod,priceMax_lag,priceMod_lag,quant_lag,quant_lag1,quant_lag2,quant_lag3
date,,,,,,,,,
1996-02-01,196164,229,186,257.0,226.0,225063.0,NaN,NaN,NaN
1996-03-01,178992,274,243,229.0,186.0,196164.0,196164.0,NaN,NaN
1996-04-01,192592,279,254,274.0,243.0,178992.0,178992.0,196164.0,NaN
1996-05-01,237574,312,269,279.0,254.0,192592.0,192592.0,178992.0,196164.0
1996-06-01,175308,413,367,312.0,269.0,237574.0,237574.0,192592.0,178992.0

In [82]:
df.dropna(inplace=True)

In [83]:
df.drop(['priceMod','priceMax'],axis=1,inplace=True)

In [84]:
df.head()

,quantity,priceMax_lag,priceMod_lag,quant_lag,quant_lag1,quant_lag2,quant_lag3
date,,,,,,,
1996-05-01,237574,279.0,254.0,192592.0,192592.0,178992.0,196164.0
1996-06-01,175308,312.0,269.0,237574.0,237574.0,192592.0,178992.0
1996-07-01,156282,413.0,367.0,175308.0,175308.0,237574.0,192592.0
1996-08-01,173892,406.0,368.0,156282.0,156282.0,175308.0,237574.0
1996-09-01,138648,388.0,340.0,173892.0,173892.0,156282.0,175308.0

In [85]:
# Training = 200 samples and Test 41 samples
train_X=df.iloc[:200,3:]
train_y=df.iloc[:200,0]
test_X=df.iloc[200:,3:]
test_y=df.iloc[200:,0]
print(train_X.shape,train_y.shape,test_X.shape,test_y.shape)

(200, 4) (200,) (38, 4) (38,)

In [86]:
model1 = LinearRegression().fit(train_X, train_y)

In [87]:
print(model1.score(test_X, test_y))

0.5604744297821448

In [88]:
perd_y = model1.predict(test_X)

In [89]:
from sklearn.metrics import mean_squared_error

In [90]:
(mean_squared_error(perd_y, test_y)**(1/2))

94845.67827107651

In [91]:
df.quantity.mean()

243581.50420168068